*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  color: #222222;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav_link,
.btn_font {
  font-family: "Montserrat", sans-serif;
}

a {
  display: block;
  text-decoration: none;
  color: #99a9b5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input,
textarea {
  font-size: 1.6rem;
  font-weight: 400;

  width: 100%;
  padding: 1.4rem;
  margin: 0.4rem 0 1.3rem;

  background-color: #181828;
  color: #99a9b5;
  border: 2px solid #394050;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border: 2px solid #00bcd4;
}

textarea {
  resize: none;
}

.wrapper {
  max-width: 192rem;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
}

/* --------------------- responsive --------------------- */

/* ----------------------- header  --------------*/
.header {
  width: 100%;
  background-color: #2c2e3d;
  position: relative;
}

.header .logo {
  z-index: 5;
}

.header .container {
  padding-top: 2.4rem;
}

.header_top {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
}

.header_top .nav_menu .menu {
  display: flex;
  flex: 1;
  align-items: center;
}

.menu_btn {
  display: none;
}

.nav_item {
  flex: 1;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  transition: 0.3s;
  margin: 0 0.5rem;
  border: 4px solid transparent;
}

.nav_item:hover {
  border: 4px solid white;
}

.nav_item .nav_link {
  padding: 0.5rem 1.5rem;
}

.nav_item:hover .nav_link {
  color: white;
}

.header_top .header_right {
  display: flex;
}

.header_right > .header_icon {
  height: 1.7rem;
  margin: 1.1rem;
  cursor: pointer;
}

.icon_cart {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 1.1rem;
}

.icon_cart > .header_icon:first-child {
  margin-right: 0.3rem;
  cursor: pointer;
}

.icon_cart .cart_quantity {
  font-size: 1.4rem;
  color: white;
  font-weight: 700;

  position: absolute;
  right: 1rem;
}

.header_slide {
  width: 100%;
  height: 88rem;
  position: relative;

  color: white;
  overflow: hidden;
}

.slide_item {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s;

  position: absolute;
  top: 0;
  left: 0;
  padding: 16rem 5rem;
}

.slide_item.active {
  opacity: 1;
  visibility: visible;
}

.slide_item .slide_img {
  margin: 0 auto;
}

.slide_item .slide_title {
  text-transform: uppercase;
  font-size: 7rem;
  margin-top: 10rem;
}

.slide_item .slide_content {
  font-size: 2.4rem;
  font-weight: 200;
  margin-top: 4rem;
  line-height: 1.5;
}

.slide_item .slide_title {
  font-weight: 300;
}

.title_bold {
  font-weight: 700;
}

.slide_item .btn_group {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
}

.slide_item .btn_group .btn:first-child {
  margin-right: 3rem;
}

.slide_pagination {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4rem;
}

.slide_pagination .dot {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: relative;

  border-radius: 50%;
  border: 4px solid white;
  margin-left: 2rem;
}

.slide_pagination .dot::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  background-color: transparent;
  transition: 0.7s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide_pagination .active.dot::after {
  background-color: #99a9b5;
}

.slide_pagination .dot:first-child {
  margin-left: 0;
}

.slide_direct {
  display: inline-block;
  padding: 2.5rem;
  background-color: #21233181;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.slide_direct:hover {
  background-color: #00bcd4;
}

.slide_direct.prev {
  left: 0;
}

.slide_direct.next {
  right: 0;
}

/* ----------------- end header ------------------ */

/* ------------------ content -------------------- */

.content {
  background-color: white;
}

.content .container {
  padding: 13rem 0;
  color: #3c3950;
}

.content_title {
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.content_desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;

  margin-top: 6rem;
}

.content_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 8rem;
  min-height: 75rem;
}

.card_item {
  width: 23%;
  background-color: #f0f3f2;

  text-align: center;
  border-radius: 5rem;
  transition: all 0.3s ease-in;

  cursor: pointer;
}

.card_container {
  padding: 4rem 3.5rem;
}

.card_item:hover {
  background-color: #393d50;
}

.card_item.new {
  position: relative;
}

.card_item.new::before {
  content: "NEW";
  position: absolute;
  transform: translateY(-50%);
  left: 12%;

  background-color: #f44336;
  border-radius: 50%;

  color: white;
  font-weight: 700;
  font-size: 1.2rem;

  padding: 2.4rem 1.4rem;
}

.card_item .card_name {
  font-size: 2.4rem;
  font-weight: 400;
  color: #3c3950;
}

.card_item:hover .card_name {
  color: #8c9ba8;
}

.card_item .card_subtitle {
  color: #a5b3bd;
  font-size: 1.4rem;
  margin: 1.5rem auto 3rem;
}

.card_price {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background-color: white;

  margin: 0 auto;
  font-weight: 300;
  font-size: 2.4rem;
  color: #22c5da;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_price .price {
  font-size: 5rem;
  color: #3c3950;
}

.card_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;

  margin-top: 2rem;
}

.card_item:hover .card_title {
  color: white;
}

.title_hide {
  font-size: 1.4rem;
  color: #5f727f;
  margin-top: 1.5rem;
  display: none;
}

.card_item:hover .title_hide {
  display: block;
}

.card_item .line {
  width: 40%;
  height: 2px;
  background-color: #00bbd477;
  margin: 2rem auto;
  border-radius: 20px;
}

.card_content .content_line {
  font-size: 1.7rem;
  font-weight: 400;
  color: #5f727f;
  margin: 1.7rem auto;
}

.card_content .disabled {
  color: #99a9b5;
  text-decoration: line-through;
}

.card_item:hover .card_content .content_line {
  color: #99a9b5;
}

.card_item:hover .card_content .disabled {
  color: #5f727f;
}

.card_btn {
  padding: 1.4rem 0.5rem;
  border-radius: 0.8rem;
  max-width: 16rem;
  margin: 4rem auto 0.5rem;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;

  color: white;
  background-color: #b6c6c9;
  cursor: pointer;
  transition: 0.3s;
}

.card_btn:hover {
  transform: scale(1.1);
}

/* ----------------- end content ----------------------- */

/* -------------------- adblock --------------------- */

.adblock {
  background-color: #494b58;
}

.adblock .container {
  text-align: center;
  padding: 20rem 3rem;
}

.adblock .adblock_img {
  margin: 0 auto;
}

.adblock_title {
  font-size: 10rem;
  color: #ececed;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 7rem;
}

.adblock_content {
  font-size: 2.4rem;
  color: white;
  margin: 8rem 0;
  line-height: 1.5;
}

.adblock .btn {
  margin: 0 auto;
}

/* ------------------ end adblock ---------------- */

/* --------------------- footer ----------------- */
.footer {
  padding: 13rem 0;
  color: #99a9b5;
  font-size: 1.6rem;
  line-height: 1.5;
}
.footer_top {
  background-color: #212331;
}

.footer_top .col {
  width: 23%;
}

.footer_top .col .col_contact {
  margin-top: 3rem;
}

.footer_top .col .footer_title:first-child {
  margin-top: 0;
}

.footer_logo {
  margin-bottom: 4rem;
}

.footer_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.9rem;
  color: white;
  margin: 3rem auto;
}

.footer_contact .row {
  justify-content: unset;
  align-items: center;
}

.footer_contact .row:not(:first-child) {
  margin: 1.7rem 0;
}

.footer_contact .row .contact_img {
  height: 100%;
  margin-right: 1rem;
}

.footer_contact .contact-address {
  border-bottom: 1px dashed #50586a;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.col_2 > .row {
  align-items: center;
  border-bottom: 1px dashed #5f727f;
  padding: 1.5rem 0;
}

.col_2 > .row:last-child {
  border-bottom: none;
}

.col_2 .avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #99a9b5;
}
.col_2 .desc {
  flex: 1;
  margin-left: 1.5rem;
}

.col_2 .desc .desc_text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.col_2 .desc .desc_img {
  display: inline-block;
}

.col_2 .useful_link {
  list-style: disc;
  margin-left: 2rem;
  position: relative;
  margin-bottom: 1.7rem;
}

.col_2 .useful_link:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: -2rem;
  width: calc(100% + 2rem);
  height: 1px;
  border-bottom: 1px dashed #5f727f;
}

.form_btn {
  width: 100%;
  padding: 1.2rem;
  background-color: #394050;
  text-align: center;

  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.col_3 .row,
.col_4 .row {
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.row .square {
  margin: 0.5rem;
  flex: 1 0 auto;
  height: auto;
  background-color: #828e97;
}

.row .square::before {
  content: "";
  float: left;
  padding-top: 100%;
}

.col_4 .footer_title {
  margin-top: 5.8rem;
}

.col_4 .mail {
  margin: 3rem 0 1.5rem;
}

.col_4 .mail_input {
  flex: 1;
  margin: 0;
}

.col_4 .row .btn_email {
  width: 5rem;
  height: 5rem;
  background-color: #394050;
  position: relative;

  cursor: pointer;
}

.col_4 .row .btn_email .email_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col_4 .text {
  color: #4a4b5b;
}

.footer_bot {
  background-color: #181828;
  padding: 3.5rem 0;
}

.footer_bot .row {
  align-items: center;
}

.footer_nav {
  display: flex;
  align-items: center;
}

.footer_nav .item {
  padding: 0 1.6rem;
  border-left: 1px solid #333146;
}

.footer_social,
.footer_nav .item {
  cursor: pointer;
}

.footer_nav .item:hover {
  color: white;
}

.footer_nav .item:first-child {
  border-left: none;
}

/* -------------------- global --------------------- */
.btn {
  font-size: 1.9rem;
  font-weight: 700;

  text-transform: uppercase;

  padding: 1.5rem 2.5rem;
  cursor: pointer;
  border: 4px solid white;
  border-radius: 5rem;

  color: white;
  min-width: 23rem;
  transition: all 0.2s ease-in-out;
  max-width: 24rem;
}

.btn:hover {
  color: #4ec3c9;
  border-color: #4ec3c9;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* ---------------------- animation slide -------------- */
.in-next {
  animation: inNext 0.7s ease-in;
}
@keyframes inNext {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.out-next {
  animation: outNext 0.7s ease-in;
}
@keyframes outNext {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.out-pre {
  animation: outPre 0.7s ease-out;
}
@keyframes outPre {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
.in-pre {
  animation: inPre 0.7s ease-out;
}
@keyframes inPre {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
